<div class="slick-list draggable">
    <div class="slick-track" style="opacity: 1; width: 1566px; transform: translate3d(0px, 0px, 0px);">
        <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide50" style="width: 261px;">
            <div>
                <div style="width: 100%; display: inline-block;">
                  
                </div>
            </div>
        </div>
        <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" role="tabpanel" id="slick-slide51" style="width: 261px;">
            <div>
                <div style="width: 100%; display: inline-block;">
                   
                </div>
            </div>
        </div>
        <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel" id="slick-slide52" style="width: 261px;">
            <div>
                <div style="width: 100%; display: inline-block;">
                    
                </div>
            </div>
        </div>
        <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" role="tabpanel" id="slick-slide53" style="width: 261px;">
            <div>
                <div style="width: 100%; display: inline-block;">
                    
                </div>
            </div>
        </div>
        <div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide54" style="width: 261px;">
            <div>
                <div style="width: 100%; display: inline-block;">
                   
                </div>
            </div>
        </div>
        <div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide55" style="width: 261px;">
            <div>
                <div style="width: 100%; display: inline-block;">
                    
                </div>
            </div>
        </div>
    </div>
</div>