<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/static/css/delivery_home.css">
    <title>딜리버리</title>

</head>
<body>
    <div class="personal_logon">
        <div class="image-container" >
            <a href="딜리버리주문내역">
                <img src="images/delivery_orderlist.png" >
            </a>
        </div>
        <div class="image-container">
            <a href="카트">
                <img src="images/delivery_cart.png" >
            </a>
        </div>
    </div>

    <div class="locationwrap">
        <div class="web_container">
            <div class="web_container_route">
                <a href="딜리버리"><span>딜리버리</span></a>
                <a href="My킹" id="arrow">></a>
                <a href="My킹"><span>메뉴</span></a>
            </div>


            <div class="web_container_my">
                <div class="location_shop_money">
                    <div class="location">
                        <img src="images/location.png">
                        <span>부산광역시 동래구 동래로 5(...</span>
                    </div>
                    <div class="store">
                        <img src="images/store.png">
                        <span>부산수안역점</span>
                    </div>
                    <div class = "money">
                        <span>
                            최소주문금액 : 
                            <span>14,000원</span>
                            /
                            <span>배달팁 : 0원</span>
                        </span> 
                    </div>  
                </div>
                <div class="location_a_div">
                    <a href="주소변경사이트" class="change_location_a">
                         <strong class="change_a">변경</string>
                    </a>
                </div>
            </div>  
        </div>    
    </div>

    <div class="orderlist_box">
        <div class="orderlist_bar">
            <div class="orderList">
                <strong>메뉴</strong>
            </div>
            <div class="orderlist_right">
                <button>스페셜&할인팩</button>
                <button>신제품(NEW)</button>
                <button>프리미엄</button>
                <button>와퍼&주니어</button>
                <button>치킨&슈림프버거</button>
                <button>사이드</button>
                <button>음료&디저트</button>
    
            </div>
        </div>
        
        <div class="orderList_data">
            <div class="orderlist_box_text">
                
            </div>
        </div>  
        <div class="notice">
            <h4>유의사항</h4>
            <Button>
                <img src="images/!.png" alt="">
                <!-- <i class="fa-duotone fa-circle-exclamation" style="--fa-primary-color: #ffffff; --fa-secondary-color: #2e2e2e; --fa-secondary-opacity: 1;"></i> -->
                <strong>원산지, 영양성분, 알레르기 유발성분 ></strong>
            </Button>
        </div>
        <div class="tip">
            <ul>
                <div>
                    <li>매장별 주문금액이 상이하니, 반드시 최소금액을 확인하기 바랍니다.</li>
                    <li>배달 소요시간은 기상조건이나 매장 사정상 지연 또는 제한될 수 있습니다.</li>
                    <li>고객님과 수 차례 연락을 시도한 후 연락이 되지 않는 경우 배달음식이 변질되거나 부패될 우려로 식품위생법상 위반될 여지가 있어 별도로 보관 하지 않으며, <strong>재배달 또는 환불처리가 어려울 수 있습니다.</strong> </li>
                    <li>딜리버리 서비스 메뉴의 가격은 매장 가격과 상이하며, 딜리버리 시 타쿠폰을 사용하실 수 없습니다. (일부품목 배달 제외)</li>
                    <li>배달 제품은 매장 행사(할인가격)에서 제외됩니다.</li>
                    <li>제품 가격 및 메뉴 구성은 본사 사정상 변경될 수 있습니다.</li>
                    <li>대량 주문의 경우 콜센터(1599-0505)주문으로만 가능합니다.</li>
                    <li>주문 완료 후 변경 및 취소는 콜센터(1599-0505)에서만 가능합니다.</li>
                </div>
            </ul>
        </div>
    </div>

</body>
</html>