<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/my_delivery.css">
    <title>마이 배달지</title>
</head>
<body>
    <div class="personal_logon">
        <div class="image-container" >
            <a href="딜리버리주문내역">
                <img src="images/delivery_orderlist.png" >
            </a>
        </div>
        <div class="image-container">
            <a href="카트">
                <img src="images/delivery_cart.png" >
            </a>
        </div>
    </div>

    <div class="locationwrap">
        <div class="web_container">
            <div class="web_container_route">
                <a href="딜리버리"><span>딜리버리</span></a>
                <a href="My킹" id="arrow">></a>
                <a href="My킹"><span>카트 </span></a>
            </div>


            <div class="web_container_my">
                <div class="location_shop_money">
                    <div class="location">
                        <img src="images/location.png">
                        <span>부산광역시 동래구 동래로 5(...</span>
                    </div>
                    <div class="store">
                        <img src="images/store.png">
                        <span>부산수안역점</span>
                    </div>
                    <div class = "money">
                        <span>
                            최소주문금액 : 
                            <span>14,000원</span>
                            /
                            <span>배달팁 : 0원</span>
                        </span> 
                    </div>  
                </div>
                <div class="location_a_div">
                    <a href="주소변경사이트" class="change_location_a">
                         <strong class="change_a">변경</string>
                    </a>
                </div>
            </div>  
        </div>    
    </div>

    <div class="orderlist_box">
        <div class="orderlist_bar">
            <div class="orderList">
                <strong>MY배달지</strong>
            </div>
            <div class="orderlist_right">
                <strong>전체</strong>
                <strong class="count">0</strong>
            </div>
        </div>
        
        <div class="orderList_data">
            <div class="orderlist_box_text">
                <div class="fade_logo">
                    <img src="images/fade_logo.png">
                </div>
                <div>
                    <p>등록된 MY배달지가 없습니다</p>
                </div>
            </div>
        </div>  
        
        <div class="tip">
            <ul>
                <div>
                    <li>평소에 자주 배달받는 주소를 등록하시면 보다 쉽고 빠르게 주문하실 수 있어요.</li>
                    <li>MY배달지는 5개까지 등록 가능합니다.</li>
                </div>
               

                <div>
                    <button>
                        <strong>MY배달지 추가 +</strong>
                    </button>
                </div>
            </ul>
        </div>
    </div>

</body>
</html>