<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/additionalMenuModal.css">
    <title>추가메뉴 모달창</title>
</head>
<body>
    <!-- <button type="button" class="btn-open-popup2">버튼</button>
    <div class="modal2">
        <div class="modal_content2">
            <div class="modal_top2">
                <span>사이드변경</span>
                <button type="button" class="closeBtn2">❌</button>
            </div>

            <div class="modal_middle2">
                <ul class="menuList2">
                    <li class="menuList201">
                        
                        <button type="button">
                                 <div>
                                    <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/option/bf80c698-5f34-489e-92dc-6e4c636c27fd.png" alt="">
                                </div>
                                <p class="tit2">프렌치프라이L</p>
                                <p class="price2">+0원</p>
                        </button>
                            
                        
                    </li>
                    <li class="menuList202">
                       
                        <button type="button">
                            <div>
                                 <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/option/88f6b236-6c6c-4b16-be97-16b9db1e2cb3.png   ">
                            </div>
                            <p class="tit2" >치즈프라이교환</p>
                            <p class="price2">+400원</p>
                        </button>
                    </li>

                </ul>
            </div>

            <di class="modal_bottom2">
                    <div>
                        <button type="button">
                        <span>선택</span>
                        </button>
                    </div>
            </div>
        </div>
    </div> 
     <script>
	    const modal2 = document.querySelector(".modal2");
	    const btnOpenPopup2 = document.querySelector(".btn-open-popup2");
	    const closeBtn2 = document.querySelector(".closeBtn2");
	
	    btnOpenPopup2.addEventListener('click', () => {
	        modal2.style.display = "block";
	    });
	
	    closeBtn2.addEventListener('click', () => {
	        modal2.style.display = "none";
	    }); -->
    </script>
</body>
</html>