<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/delivery_order.css">
    <title>딜리버리 주문내역</title>
</head>
<body>
    <div>
        <p>딜리버리 공통디자인 공간입니다</p>        
    </div>

    <div class="personal_logon">
        <div class="image-container" >
            <a href="딜리버리주문내역">
                <img src="images/delivery_orderlist.png" >
            </a>
        </div>
        <div class="image-container">
            <a href="카트">
                <img src="images/delivery_cart.png" >
            </a>
        </div>
    </div>

    <div class="locationwrap">
        <div class="web_container">
            <div class="web_container_route">
                <a href="딜리버리"><span>딜리버리</span></a>
                <a href="My킹" id="arrow">></a>
                <a href="My킹"><span>MY킹 </span></a>
                <a href="주문내역" id="arrow">></a>
                <a href="주문내역"><span>주문내역</span></a>
            </div>


            <div class="web_container_my">
                <div class="location_shop_money">
                    <div class="location">
                        <img src="images/location.png">
                        <span>부산광역시 동래구 동래로 5(...</span>
                    </div>
                    <div class="store">
                        <img src="images/store.png">
                        <span>부산수안역점</span>
                    </div>
                    <div class = "money">
                        <span>
                            최소주문금액 : 
                            <span>14,000원</span>
                            /
                            <span>배달팁 : 0원</span>
                        </span> 
                    </div>  
                </div>
                <div class="location_a_div">
                    <a href="주소변경사이트" class="change_location_a">
                         <strong class="change_a">변경</string>
                    </a>
                </div>
            </div>  
        </div>    
    </div>



    <div class="contentBox1">
        <div class="contentBox2">

            <div class="contentBox_list">
                <strong>MY킹 </strong>
                <span> > 주문내역</span>
            </div>

            <div class="middle">
                <div class="myking_info">
                    <strong>윤미소 님!</strong>
                    <span class="hi">반갑습니다</span>
                    <div class="links">
                        <a href="정보변경" id="link">
                            <span>정보변경 ></span>
                        </a>
                        <a href="MY배달지" id="link">
                            <span>MY배달지 ></span>
                        </a>     
                    </div> 
                </div>
                <div class="button_details">
                    <div class="button_details_membership">
                        <a href="멤버쉽" class="menbership-link">
                            
                                <div class="image-wrapper-membership">
                                    <img src="images/membership.png" class="membership_img">
                                </div>
                            
                                <div class="text-wrapper-membership">
                                    <p class="menbership_p">멤버십</p>
                                    <strong>welcome</strong>
                                </div>
                        </a>
                    </div>
                    <div class="button_details_coupon">
                        <a href="나의쿠폰" class="coupon-link">
                                <div class= "images-wrapper-coupon">
                                    <img src="images/my_coupon.png" class="coupon_img">
                                </div>
                                <div class="text-wrapper-coupon">
                                    <p class="my_coupon_p">나의쿠폰</p>
                                    <strong>멤버십</strong>
                                    <strong>0</strong>
                                    <strong>딜리버리</strong>
                                    <span>0</span>  
                                </div>
                        </a>
                    </div>
                    <div class="button_details_orderList" >
                        <a href="주문이력" class="order-history-link">
                            <div class="image-wrapper-order-history">
                                <span><img src="images/order_history.png" class="order_history_img"></span>
                            </div>
                            <div class="text-wrapper-order-history">
                                 <strong>주문이력</strong>
                            </div>
                           
                        </a>
                    </div>
            </div>
            </div>
            
        </div>
    </div>

    <div class="orderlist_box">
        <div class="orderlist_bar">
            <div class="orderList">
                <strong>주문내역</strong>
            </div>
    
            <div class="orderlist_button"> 
                <button type="button"><strong>딜리버리</strong></button> 
                <button type="button"><strong>매장</strong></button> 
                <button type="button"><strong>킹오더</strong></button>      
            </div>
        </div>
        <div class="orderList_data">
            <div class="orderlist_box_text">
                <div class="fade_logo">
                    <img src="images/fade_logo.png">
                </div>
                <div>
                    <p>주문내역이 없습니다.</p>
                </div>
            </div>
        </div>    
    </div>

    <p>공통 푸터 자리</p>
    
</body>
</html>