<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/static/css/menuModal.css">
    <title>메뉴 선택모달창</title>
</head>
<body>
   <button type = "button" class="btn-open-popup">버튼</button>
    <div class="modal">
        <div class="modal_content">
            <div class="modal_wrap">
                <div class="menu_top">
                    <span>메뉴 선택</span>
                    <button class="closeBtn" type="button">❌</button>
                </div>
                <div class="menu_banner">
                    <div>
                        <span class="name">블랙바베큐콰트로치즈와퍼</span> <br>
                        <span class="explain"> <br><br> 콰트로치즈와퍼가 <br>
                         바비큐소스를 만나다!</span>
                    </div>
                    
                    <div>
                        <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/normal/6879ed8c-87c8-427b-8573-6b74ccba210a.png" alt="">
                    </div>
                </div>
                <ul class="menuList_wrap">
                    <li>
                        <div>
                            <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/thumnail/10f0f3c9-18b4-471d-834a-47a249ee4a4c.png" alt="">
                        </div>
                        
                        <button type="button">
                            <div>
                            <p class="li01" style="padding-top: 20px;">블랙바베큐콰트로치즈와퍼 </p>  <p class="li01">라지세트</p>
                            <p class="li02">블랙바베큐콰트로치즈와퍼 </p>  <p class="li02">프렌치프라이L + 콜라L</p>
                            <p class="li03">￦12,900</p>
                            </div>
                        </button>
                    </li>
                    <li>
                        <div>
                            <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/thumnail/40073031-aa61-488b-9d3d-1242251db2bf.png" alt="">
                        </div>
                        
                        <button type="button">
                            <div>
                            <p class="li01" style="padding-top: 20px;">블랙바베큐콰트로치즈와퍼 </p>  <p class="li01">세트</p>
                            <p class="li02">블랙바베큐콰트로치즈와퍼 </p>  <p class="li02">프렌치프라이R + 콜라R</p>
                            <p class="li03">￦12,200</p>
                            </div>
                        </button>
                    </li>
                    <li>
                        <div>
                            <img src="https://d1cua0vf0mkpiy.cloudfront.net/images/menu/thumnail/644b2798-1791-4219-8540-f3ddc82315a2.png" alt="">
                        </div>
                        
                        <button type="button">
                            <div>
                            <p class="li01" style="padding-top: 20px;">블랙바베큐콰트로치즈와퍼 </p>  
                            <p class="li02">단품 </p> 
                            <p class="li03">￦   10,200</p>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

     <script>
	    const modal = document.querySelector(".modal");
	    const btnOpenPopup = document.querySelector(".btn-open-popup");
	    const closeBtn = document.querySelector(".closeBtn");
	
	    btnOpenPopup.addEventListener('click', () => {
	        modal.style.display = "block";
	    });
	
	    closeBtn.addEventListener('click', () => {
	        modal.style.display = "none";
	    });
    </script>
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/order.js"></script>
</body>
</html> -->