<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/orderDetail.css">
    <title>주문상세</title>
</head>
<body>
    <div class="personal_logon">
        <div class="image-container" >
            <a href="딜리버리주문내역">
                <img src="images/delivery_orderlist.png" >
            </a>
        </div>
        <div class="image-container">
            <a href="카트">
                <img src="images/delivery_cart.png" >
            </a>
        </div>
    </div>
    

    <div class="locationwrap">
        <div class="web_container">
            <div class="web_container_route">
                <a href="딜리버리"><span>딜리버리</span></a>
                <a href="My킹" id="arrow">></a>
                <a href="My킹"><span>MY킹 </span></a>
                <a href="주문내역" id="arrow">></a>
                <a href="주문내역"><span>주문내역</span></a>
                <a href="주문상세" id="arrow">></a>
                <a href="주문상세"><span>주문상세</span></a>
            </div>


            <div class="web_container_my">
                <div class="location_shop_money">
                    <div class="location">
                        <img src="images/location.png">
                        <span>부산광역시 동래구 동래로 5(...</span>
                    </div>
                    <div class="store">
                        <img src="images/store.png">
                        <span>부산수안역점</span>
                    </div>
                    <div class = "money">
                        <span>
                            최소주문금액 : 
                            <span>14,000원</span>
                            /
                            <span>배달팁 : 0원</span>
                        </span> 
                    </div>  
                </div>
                <div class="location_a_div">
                    <a href="주소변경사이트" class="change_location_a">
                         <strong class="change_a">변경</string>
                    </a>
                </div>
            </div>  
        </div>    
    </div>  

    <div class="contentBox1">
        <div class="contentBox1_1">
            <div>
                <strong>2023.07.21 PM 16:49</strong> 
                <span>주문완료</span> 
            </div>
           
                <img src="images/bike.png">
            
        </div>
    </div>

    <div class="orderlist_box">
        <div class="orderlist_bar">
            <div class="orderList">
                <img src="images/order_history2.png">
                <strong>주문내역</strong>
            </div>
        </div>

        <div class="orderList_data">
            <li class="orderList_date_li">
                <div class="orderList_div">
                    <div>
                        <img src="images/white_logo.png">
                    </div>
                    <div class="order_menu_name">
                        <div>
                            <strong>몬스터와퍼 라지세트</strong>
                        </div>
                        <p class="price" style="margin-top: 0px;">
                            <strong>
                                <span >13,300원</span>
                            </strong>
                        </p>
                        <div class="menu_detail">
                            <span>몬스터와퍼 , 치즈프라이 교환</span>
                        </div>
                    </div>
                    <div class="menu_count">
                        <p style="font-size: 16px;">수량 1개</p>
                    </div>
                </div>
            </li>

            <li class="orderList_date_li">
                <div class="orderList_div">
                    <div>
                        <img src="images/white_logo.png">
                    </div>
                    <div class="order_menu_name">
                        <div>
                            <strong>몬스터와퍼 라지세트</strong>
                        </div>
                        <p class="price" style="margin-top: 0px;">
                            <strong>
                                <span >13,300원</span>
                            </strong>
                        </p>
                        <div class="menu_detail">
                            <span>몬스터와퍼 , 치즈프라이 교환</span>
                        </div>
                    </div>
                    <div class="menu_count">
                        <p style="font-size: 16px;">수량 1개</p>
                    </div>
                </div>
            </li>

            <li class="orderList_date_li">
                <div class="orderList_div">
                    <div>
                        <img src="images/white_logo.png">
                    </div>
                    <div class="order_menu_name">
                        <div>
                            <strong>몬스터와퍼 라지세트</strong>
                        </div>
                        <p class="price" style="margin-top: 0px;">
                            <strong>
                                <span >13,300원</span>
                            </strong>
                        </p>
                        <div class="menu_detail">
                            <span>몬스터와퍼 , 치즈프라이 교환</span>
                        </div>
                    </div>
                    <div class="menu_count">
                        <p style="font-size: 16px;">수량 1개</p>
                    </div>
                </div>
            </li>



            <li class="orderList_date_li">
                <div class="orderList_div">
                    <div>
                        <img src="images/white_logo.png">
                    </div>
                    <div class="order_menu_name">
                        <div>
                            <strong>몬스터와퍼 라지세트</strong>
                        </div>
                        <p class="price" style="margin-top: 0px;">
                            <strong>
                                <span >13,300원</span>
                            </strong>
                        </p>
                        <div class="menu_detail">
                            <span>몬스터와퍼 , 치즈프라이 교환</span>
                        </div>
                    </div>
                    <div class="menu_count">
                        <p style="font-size: 16px;">수량 1개</p>
                    </div>
                </div>
            </li>

            <li class="orderList_date_li">
                <div class="orderList_div">
                    <div>
                        <img src="images/white_logo.png">
                    </div>
                    <div class="order_menu_name">
                        <div>
                            <strong>몬스터와퍼 라지세트</strong>
                        </div>
                        <p class="price" style="margin-top: 0px;">
                            <strong>
                                <span >13,300원</span>
                            </strong>
                        </p>
                        <div class="menu_detail">
                            <span>몬스터와퍼 , 치즈프라이 교환</span>
                        </div>
                    </div>
                    <div class="menu_count">
                        <p style="font-size: 16px;">수량 1개</p>
                    </div>
                </div>
            </li>

            <li class="orderList_date_li">
                <div class="orderList_div">
                    <div>
                        <img src="images/white_logo.png">
                    </div>
                    <div class="order_menu_name">
                        <div>
                            <strong>몬스터와퍼 라지세트</strong>
                        </div>
                        <p class="price" style="margin-top: 0px;">
                            <strong>
                                <span >13,300원</span>
                            </strong>
                        </p>
                        <div class="menu_detail">
                            <span>몬스터와퍼 , 치즈프라이 교환</span>
                        </div>
                    </div>
                    <div class="menu_count">
                        <p style="font-size: 16px;">수량 1개</p>
                    </div>
                </div>
            </li>

        </div> 
        
        <div class="orderlist_bar">
            <div class="orderList">
                <img src="images/hamburger.png">
                <strong>주문정보</strong>
            </div>
        </div>

        <div class="order_info">
            <div class="order_address">
                <p>부산광역시 동래구 동래로 5 (온천동) 402</p>
                <p class="order_complete">주문완료</p>
            </div>

            <div class="order_detail_info">
                <div>
                    <dl>
                        <dt>주문번호</dt>
                        <dd>10000</dd>
                    </dl>
                    <dl>
                        <dt>주문시간</dt>
                        <dd>2023.07.21 16:49</dd>
                    </dl>
                    <dl>
                        <dt>연락처</dt>
                        <dd>01012341234</dd>
                    </dl>
                    <dl>
                        <dt>매장</dt>
                        <dd>부산수안역점</dd>
                    </dl>
                    <dl>
                        <dt>매장전화번호</dt>
                        <dd>070-7462-9963</dd>
                    </dl>
                </div>
            </div>
        </div>
        <br>

        <div class="orderlist_bar">
            <div class="orderList">
                <img src="images/w.png">
                <strong>결제내역</strong>
            </div>
        </div>

        <div class="order_payment">
            <div>
                <div class="order_payment_list">
                    <dl>
                        <dt>주문금액</dt>
                        <dd>37,000원</dd>
                    </dl>
                    <dl>
                        <dt>쿠폰</dt>
                        <dd>0</dd>
                    </dl>
                    <dl>
                        <dt>결제방법</dt>
                        <dd>현장 카드결제</dd>
                    </dl>
                </div>
                <div class="total_pay">
                    <dl>
                        <dt>결제금액</dt>
                        <dd>37,000원</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>

</body>
</html>