<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/burgerking-main.css">
</head>
<body>
<div id="app">
    <div class="subWrap01">
        <div class="contentsBox01 home_cont recommendMenu">
            <div class="web_container">
                <div class="homeproduct_swipe" style="">
                    <h2 class="hide">메인배너</h2>
                    <div id="slickBanner" class="slick-initialized slick-slider slick-dotted">
                        
                        <!-- 슬라이드 내용 -->
                        <div style="padding:300px 100px; background-color: skyblue;">
                            <button class="btn_swiper btn_prev slick-arrow" style="">
                                <span>Previous contents</span>
                            </button>
                            <div id="slider-div"  >
                                <div>1</div>
                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>5</div>
                                <div>6</div>
                            </div>
                            <button class="btn_swiper btn_next slick-arrow">
                                <span>Next contents</span>
                            </button>
                            <!-- 페이지네이션 버튼 -->
                            <ul class="swiper-pagination" style="" role="tablist">
                                <li class="" role="presentation">
                                    <button type="button" role="tab" id="slick-slide-control10" aria-controls="slick-slide10" aria-label="1 of 6" tabindex="-1">1</button>
                                </li>
                                <li role="presentation" class="">
                                    <button type="button" role="tab" id="slick-slide-control11" aria-controls="slick-slide11" aria-label="2 of 6" tabindex="-1">2</button>
                                </li>
                                <li role="presentation" class="">
                                    <button type="button" role="tab" id="slick-slide-control12" aria-controls="slick-slide12" aria-label="3 of 6" tabindex="-1">3</button>
                                </li>
                                <li role="presentation" class="">
                                    <button type="button" role="tab" id="slick-slide-control13" aria-controls="slick-slide13" aria-label="4 of 6" tabindex="-1">4</button>
                                </li>
                                <li role="presentation" class="">
                                    <button type="button" role="tab" id="slick-slide-control14" aria-controls="slick-slide14" aria-label="5 of 6" tabindex="-1">5</button>
                                </li>
                                <li role="presentation" class="slick-active">
                                    <button type="button" role="tab" id="slick-slide-control15" aria-controls="slick-slide15" aria-label="6 of 6" tabindex="0" aria-selected="true">6</button>
                                </li>
                            </ul>
                            <button type="button" id="btnPause" class="btn_pause" style="margin-left: 24px;">
                                <span>일시정지</span>
                            </button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">    


<script src="/resources/js/slick_practice.js"></script>
</body>
</html>